!!!5
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
html
  head
    title 
    meta(charset="utf-8")
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    link(rel="stylesheet",type="text/css",href="assets/bootstrap/3.0.2/theme/bootstrap.yeti.min.css")
    script(type="text/javascript",src="assets/moment/2.4.0/moment.min.js")
    script(type="text/javascript",src="index.js")
  body(ng-app, ng-controller="mainCtrl")
    .navbar.navbar-inverse.navbar-fixed-top
      .ib
        .navbar-header
          a.navbar-brand(href="#") G0VIS
        ul.nav.navbar-nav
          li(ng-repeat="n in tabs",ng-class="tabClass(n[0])"): a(href="#",ng-click="setTab(n[0])") {{n[1]}}
        ul.nav.navbar-nav.navbar-right
          li: a(href="#")
            i.glyphicon.glyphicon-check
            |  沒有人
          li.dropdown
            a.dropdown-toggle(href="#",data-toggle="dropdown"): i.glyphicon.glyphicon-cog
            ul.dropdown-menu
              li: a(href="#")
                i.glyphicon.glyphicon-cog(style="float:right")
                | 沒有人的設定
              li.divider
              li: a(href="#")
                i.glyphicon.glyphicon-log-out(style="float:right")
                | 沒有人要登出

    #content
      #about(ng-show="tab=='about'")
      #timeline(ng-show="tab=='timeline'")
        iframe(src="http://embed.verite.co/timeline/?source=0AuVVq3srA7dPdFQtc3VQOUg0U1FZaVRYX09VeUMyU2c&font=Bevan-PotanoSans&maptype=toner&lang=zh-tw&height=650",width="100%",height="650",frameborder="0")
      #project(ng-show="tab=='project'")
      #irc(ng-show="tab=='irc'",ng-controller="ircCtrl")
        .next(ng-click="setPanel(1)")
        .prev(ng-click="setPanel(-1)")
        .ib(ng-show="panel==0")
          svg(width="100%",height="100%",viewbox="0 0 200 200",preserveAspectRatio="xMidYMid")
            g
              text.title(x="0",y="20") 聊天室發言量
              text.subtitle(x="0",y="30") 自 2012 年 11 月 5 日起
              text.subtitle(x="0",y="35") 共 {{nick.length}} 人發言，累計 {{talkSum}} 句話
            g.hint(ng-show="hoverItem.y>0")
              line(
                ng-attr-x1="{{hoverItem.x + 20||0}}", ng-attr-x2="{{hoverItem.lx||0}}",
                ng-attr-y1="{{hoverItem.y||0}}", ng-attr-y2="{{hoverItem.ly||0}}",
                stroke="#777",stroke-dasharray="1 1",stroke-width="0.5px"
              )
              text(ng-attr-x="{{hoverItem.tx}}",ng-attr-y="{{hoverItem.ty}}") {{hoverItem.name}}
              text(ng-attr-x="{{hoverItem.tx}}",ng-attr-y="{{hoverItem.ty+5}}",style="font-size:2px") {{hoverItem.value}}次發言
            g: g(ng-repeat="n in nick",transform="translate(20 0)",ng-mouseover="hover($event,n)")
              circle(ng-attr-cx="{{n.x||0}}",ng-attr-cy="{{n.y||0}}",ng-attr-r="{{n.r||0}}",ng-attr-fill="{{aux.color(n.name)}}")
              text(ng-attr-x="{{n.x}}",ng-attr-y="{{n.y}}",ng-attr-font-size="{{n.r/n.name.length}}",ng-show="n.r/n.name.length>0.7") {{n.name}}
              text(ng-attr-x="{{n.x}}",ng-attr-y="{{n.y + 4}}",ng-attr-font-size="{{n.r/n.name.length/2}}",ng-show="n.r>6&&n.r/n.name.length>0.5") {{n.value}}
        .week.ib(ng-show="panel==1")
          svg(width="100%",height="100%",viewbox="0 0 300 200",preserveAspectRatio="xMidYMid")
            g(transform="translate(30 20)")
              text.title 聊天室每日概況
              text.subtitle.left-align(x="40") 自 {{week.dayFrom}} 至 {{week.dayTil}}，按周分類的每天發言量
            g(transform="translate(15 35)")
              g: text.week-label(ng-attr-y="{{$index * 7 + 5}}",x="-4",ng-repeat="w in week.th") {{w}}
              g(ng-repeat="d in date")
                rect.heatblock(ng-attr-x="{{d.x}}",ng-attr-y="{{d.y}}",width="6px",height="6px",
                ng-attr-fill="{{heatColor(d.v)}}",ng-mouseover="week.hover.set(d)",ng-mouseout="week.hover.set(null)")
              g.year-ptr(ng-repeat="(k,v) in week.yHash")
                text(ng-attr-x="{{v + 3}}",y="-2") {{k}}
              g.month-ptr(ng-repeat="(k,v) in week.mHash")
                text(ng-attr-x="{{v + 3}}",y="53") {{k}}
              g.hover(ng-show="week.hover.cur.v")
                line(ng-attr-x1="{{week.hover.cur.x + 3}}",ng-attr-y1="{{week.hover.cur.y + 5}}",
                     ng-attr-x2="{{week.hover.cur.tx}}",y2="57",stroke="#666",stroke-width="0.5px",stroke-dasharray="2 2")
                text(ng-attr-x="{{week.hover.cur.tx}}",y="60") {{week.hover.cur.d}} x {{week.hover.cur.v}} 人
                text(ng-attr-x="{{week.hover.cur.tx}}",y="65") {{week.hover.cur.event}}
        .irc-panel
          .status
            | [nobody(+i)] [2:freenode.net/#g0v.tw(+s)] [Act: 9,10,12,
            span(style="color:#f09") 17
            | ,19,21]
          .prompt
            | [#g0v.tw]
